{% extends 'base.html' %}
{% load static %}
{% block title %} Добавить статью {% endblock %}


{% block content %}

<form enctype="multipart/form-data" method="post">{% csrf_token %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}


<div class='add'>
	<h1>Добавьте аудиофаил </h1>
	<div class="title">
		{{ form.title }}
		<span>
			<input type="submit" class="btn btn-primary mb-2" value="Опубликовать">
		</span>
	</div>
	{{ form.audio }}
<!--	<div class="article">-->
<!--		{{ form.text }}-->
<!--		<div class="brd" id="image-preview">-->
<!--			<h3> Загрузить изображение </h3>-->
<!--			  	<img src="" alt="loading..." id="image-preview__image">-->
<!--			  	&lt;!&ndash; -&#45;&#45; For JavaScript. All Atrributes (class,id...) has been set in forms.py &#45;&#45;&#45;&#45; &ndash;&gt;-->
<!--			    &lt;!&ndash; <input required type="file" class="input-file" name="inpFile" accept=".png, .jpg, .jpeg" id="inpFile"> &ndash;&gt;-->

<!--			    {{ form.image }}-->

<!--			    <label for="inpFile" class="btn btn-primary" id="image-preview__label">-->
<!--			      <h5>Файл</h5>-->
<!--			    </label>-->
<!--			    <img src="{% static 'images/close.png' %}" id='image-remove'>-->
<!--			    <span id="progress-status" style="color: #CDCDCD; font-size:15px; display:none"></span>-->
<!--		</div>-->
<!--	</div>-->
</div>

</form>

<script src="{% static 'js/uploadToAWS.js' %}">OLOLO</script>
<script src="{% static 'js/imgSendChangeBlock.js' %}">BLABLABLA</script>

{% endblock %}